# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
venv/
*.db

# Node
node_modules/
frontend/dist/

# Storage
storage/
test_storage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Local server logs
*_server.*.log
